html {
    font-size: 62.5%;
}

* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.container {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.Card {
    width: 68%;
    margin: 0px auto;
    height: 80vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5rem;
}

.img {
    width: 100%;
    height: 100%;
    position: relative;
}

.div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.fondo {
    transform: scale(1);
    top: -30rem;
    left: -57rem;
    position: absolute;
}

.fondo-mobile {
    display: none;
}

.woman {
    position: absolute;
    left: -8rem;
    top: 5rem;
    z-index: 2;
}

.woman-mobile {
    display: none;
}

.cuadro {
    position: absolute;
    top: 18rem;
    left: -12rem;
    z-index: 3;
}


/* info */

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.section {
    width: 80%;
    height: 80%;
}


/* acordeon */

.accordion {
    width: 100%;
    margin: 2rem auto;
}

.accordion-item {
    color: hsl(237, 12%, 33%);
    margin: 1rem 0rem;
    border-radius: 0.5rem;
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 400ms linear;
}

.accordion-item-header:hover {
    color: hsl(14, 88%, 65%);
}

.accordion-item-header::after {
    content: url('./images/icon-arrow-down.svg');
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

.accordion-item-header.active::after {
    content: url('./images/icon-arrow-down.svg');
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    border-bottom: 0.1rem solid hsl(240, 5%, 91%);
    transition: max-height 500ms linear;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    color: hsl(240, 6%, 50%);
}

.accordion-item-header.active+.accordion-item-body {
    max-height: 40rem;
}


/* medias */

@media (max-width: 1199.98px) {
    .Card {
        width: 79%;
    }
}

@media (max-width: 991.98px) {
    .woman {
        transform: scale(0.7);
        left: -12rem;
    }
    .fondo {
        transform: scale(0.7);
        top: -30rem;
        left: -54rem;
    }
    .fondo-mobile {
        display: none;
    }
    .cuadro {
        transform: scale(0.8);
        left: -9rem;
        top: 17rem;
    }
}

@media (max-width: 767.98px) {
    .Card {
        grid-template-columns: 1fr;
        height: 75vh;
        margin-top: 16vh;
    }
    .img {
        width: 100%;
        height: 15vh;
    }
    .div {
        overflow: visible;
        display: flex;
        justify-content: center;
    }
    .woman {
        display: none;
    }
    .woman-mobile {
        display: block;
        position: absolute;
        top: -11rem;
        transform: scale(0.8);
    }
    .fondo {
        display: none;
    }
    .fondo-mobile {
        display: block;
        margin: 0rem auto;
        transform: scale(1);
    }
    .cuadro {
        display: none;
    }
    h1 {
        margin-top: 2rem;
        text-align: center;
    }
    .info {
        height: 100%;
        align-items: flex-start;
    }
    .section {
        width: 90%;
        height: auto;
    }
}